<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
</head>
<body class="container">

<main>
    <div class="jumbotron">
		<h3>Implementation of the
        <h1>MASTERMIND©</h1>
        <h3>satisfiability problem</h3>
        <table id="board">
		<thead>
		<th>Guess #</th>
		<th colspan="4">Code Pegs</th>
		<th colspan="2">Key Pegs</th>
		</thead>
		<tbody>
		<% rowCounter = 0; %>
		<% results.forEach(function(thing){ %>
		<tr class="guessRow">
		<td><%= rowCounter %></td>
		<td><button class="peg" type="button" style="background-color:<%= thing.pegOne %>" value="<%= thing.pegOne %>">
			<input type="hidden" name="pegOne" value="">
		</td>
		<td><button class="peg" type="button" style="background-color:<%= thing.pegTwo %>" value="<%= thing.pegTwo %>">
		<input type="hidden" name="pegTwo" value="">
		</td>
		<td><button class="peg" type="button" style="background-color:<%= thing.pegThree %>" value="<%= thing.pegThree %>">
		<input type="hidden" name="pegThree" value="">
		</td>
		<td><button class="peg" type="button" style="background-color:<%= thing.pegFour %>" value="<%= thing.pegFour %>">
		<input type="hidden" name="pegFour" value="">
		</td>
		<td>
		<table>
		<tr>
		<td><button type="button" class="j" style="background-color:<%= thing.jOne.color %>"></td>
		<td><button type="button" class="j" style="background-color:<%= thing.jTwo.color %>"></td>
		</tr>
		<tr>
		<td><button type="button" class="j" style="background-color:<%= thing.jThree.color %>"></td>
		<td><button type="button" class="j" style="background-color:<%= thing.jFour.color %>"></td>
		</tr>
		</table>
		</td>
		</tr>
		<% rowCounter = rowCounter + 1; %>
		<% }) %>
		
		</tbody>
		</table>
    </div>
</main>

<script>
	  document.getElementById("board").addEventListener("click",
	function addPhase(submission) {
		submission.preventDefault();
		let target = event.target;
		
		//not a peg that was clicked
		if (target.className != 'peg') {
			return;
		}
		
		let targetColor = target.value;
		
		switch (targetColor) {
		case '#C8C8C8':
			target.value = '#dc3545';
			target.setAttribute("style", "background-color: #dc3545;");
			break;
		
		case '#dc3545':
			target.value = '#fd7e14';
			target.setAttribute("style", "background-color: #fd7e14;");
			break;
		
		case '#fd7e14':
			target.value = '#ffc107';
			target.setAttribute("style", "background-color: #ffc107;");
			break;
		
		case '#ffc107':
			target.value = '#28a745';
			target.setAttribute("style", "background-color: #28a745;");
			break;
		
		case '#28a745':
			target.value = '#007bff';
			target.setAttribute("style", "background-color: #007bff;");
			break;
			
		case '#007bff':
			target.value = '#6f42c1';
			target.setAttribute("style", "background-color: #6f42c1;");
			break;
			
		case '#6f42c1':
			target.value = '#dc3545';
			target.setAttribute("style", "background-color: #dc3545;");
			break;
			
		}
		
		
		const colors = {
    RED: '#dc3545',
    YELLOW: '#ffc107',
    ORANGE: '#fd7e14',
    GREEN: '#28a745',
    BLUE: '#007bff',
    VIOLET: '#6f42c1',
    NULL: '#C8C8C8'
}

		
		//location.reload(true);
	});
</script>

<footer>
    <%- include ('../partials/footer') %>
</footer>
</body>
<style type="text/css">
	  #board {
		border-collapse: separate;
		border-spacing: 20px 20px !important;
		margin: 12px !important;
		border: 1px solid #000000 !important;
		}
		.peg {
		width: 40px;
		height: 40px;
		border-radius: 20px;
		}
		.j {
		width: 10px;
		height: 10px;
		border-radius: 5px;
		
		}
	  </style>

</html>