<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
</head>
<body class="container" id="theBody">

<main>
    <div class="jumbotron">
		<table id="instructions" width="100%">
		<tbody>
		<tr>
		<td width="500px" style="max-width: 500px !important; margin-right:50px;">
		<div style="width: 400px; font-size: 20px !important; margin-right:50px;">
		<h3 width="500px" style="max-width: 500px !important; margin-right:50px;">Implementation of the
        <h1 width="500px" style="max-width: 500px !important; margin-right:50px;">MASTERMIND©</h1>
        <h3 width="500px" style="max-width: 500px !important; margin-right:50px;">satisfiability problem</h3>
		<br>
		</div>
		</td>
		</tr>
		</tbody>
		</table>
		<div class="fixed" style="width: 50%; font-size: 16px !important; padding-left:50px !important;">
		
		<% if (failure) { %>
		<div class="winCon" width="100%" style="display:none;">

		<style type="text/css">
	    #guessButton {
	    display: none !important;
		}
		.winCon {
			display: inline !important;
		}
		.winCon div, .fixed {
			background-color: red !important;
		}
	    </style>
		
		<div style="background-color: red !important; text-align:center;">
		<h1>FAILURE</h1>
		<br>
		<br>
		<p>Play Again?</p>
		<p>
		<form method="POST" action="/resetGame">
		<button type="submit" value="submit">Play Again</button>
		</form>
		</div>
		<% } else if (victory) { %>
		<div class="winCon" width="100%" style="display:none;">
		<style type="text/css">
	    #guessButton {
	    display: none !important;
		}
		.winCon {
			display: inline !important;
		}
		.winCon div, .fixed {
			background-color: green !important;
		}
	    </style>
		
		<div style="background-color: green !important; text-align:center;">
		<h1>VICTORY</h1>
		<br>
		<br>
		<p>Play Again?</p>
		<p>
		<form method="POST" action="/resetGame">
		<button type="submit" value="submit">Play Again</button>
		</form>
		</div>
		<% } else { %>
		<div class="instructions">
		<p>Instructions:</p>
		<p>The designer has selected a series of four colored code pegs. It's up to you to guess the order and color of those pegs. Repeatedly click the large grey circles on the 'board' on the left to cycle through and select one of 6 colors for each code peg. Then, click 'Guess' to check your guess. The computer will return 4 black, white, or grey answer pegs to the board to 'rate' your guess: one black answer peg for every unrated code peg you guessed that is in the right position and has the right color, one white answer peg for each unrated code peg in your guess of correct color but incorrect position. The remainder of the answer pegs will be grey. If you can guess the sequence in 12 tries or less, you win!</p>
		<p><strong>NOTE: The solution algorithm below takes a few minutes to generate the first few guessesz.</strong></p>
		<br>
		<p><strong>
		Please be patient as the page loads.</strong></p>
		</div>
		<div>
		<h2>EC: SOLUTION ALGORITHM</h2>
		<p>Using a solution algorithm, the computer will provide a suggested guess to you each turn:</p>
		</div>
		<h3>Computer's Guess:</h3>
		<br>
		<div id="guess">
		<table>
		<tbody>
		<tr>
		<td><button class="peg" type="button" style="background-color:<%= guess.pegOne %>" value="<%= guess.pegOne %>">
			<input type="hidden" name="pegOne" value=""></button>
		</td>
		<td><button class="peg" type="button" style="background-color:<%= guess.pegTwo %>" value="<%= guess.pegTwo %>">
		<input type="hidden" name="pegTwo" value=""></button>
		</td>
		<td><button class="peg" type="button" style="background-color:<%= guess.pegThree %>" value="<%= guess.pegThree %>">
		<input type="hidden" name="pegThree" value=""></button>
		</td>
		<td><button class="peg" type="button" style="background-color:<%= guess.pegFour %>" value="<%= guess.pegFour %>">
		<input type="hidden" name="pegFour" value=""></button>
		</td>
		</tr>
		</tbody>
		</table>
		</div>
		<% } %>
		</div>
		</div>
		<p><strong>NOTE: The solution algorithm takes a few minutes to generate the first few guesses. Please be patient as the page loads.</strong></p>
		<table id="parentTable" width="100%">
		<tbody>
		<tr>
		<td width="550px">
        <table id="board" width="549px">
		<thead>
		<th>Guess #</th>
		<th colspan="4">Code Pegs</th>
		<th></th>
		<th colspan="2">Answer Pegs</th>
		</thead>
		<tbody>
		<% rowCounter = 0; %>
		<% results.forEach(function(thing){ %>
		
		<% if (turn == rowCounter) { %>
		<tr class="guessRow">
		<form action="/submitGuess" method="POST">
		<td><%= rowCounter %></td>
		<td><button class="peg" type="button" style="background-color:<%= thing.pegOne %>" value="<%= thing.pegOne %>">
			<input type="hidden" name="pegOne" value=""></button>
		</td>
		<td><button class="peg" type="button" style="background-color:<%= thing.pegTwo %>" value="<%= thing.pegTwo %>">
		<input type="hidden" name="pegTwo" value=""></button>
		</td>
		<td><button class="peg" type="button" style="background-color:<%= thing.pegThree %>" value="<%= thing.pegThree %>">
		<input type="hidden" name="pegThree" value=""></button>
		</td>
		<td><button class="peg" type="button" style="background-color:<%= thing.pegFour %>" value="<%= thing.pegFour %>">
		<input type="hidden" name="pegFour" value=""></button>
		</td>
		<td>
		<button type="submit" value="Submit" name="guess" class="guessButton" id="guessButton">Guess</button>
		</td>
		<td>
		<table>
		<tr>
		<td></td>
		<td></td>
		</tr>
		<tr>
		<td></td>
		<td></td>
		</tr>
		</table>
		</td>
		</form>
		</tr>
		<tr>
		<td colspan="6">
		<hr />
		</td>
		</tr>
		<% } else if (turn > rowCounter) { %>
		<tr class="guessRow">
		<td><%= rowCounter %></td>
		<td><button class="peg" type="button" style="background-color:<%= thing.pegOne %>" value="<%= thing.pegOne %>" disabled>
			<input type="hidden" name="pegOne" value=""></button>
		</td>
		<td><button class="peg" type="button" style="background-color:<%= thing.pegTwo %>" value="<%= thing.pegTwo %>" disabled>
		<input type="hidden" name="pegTwo" value=""></button>
		</td>
		<td><button class="peg" type="button" style="background-color:<%= thing.pegThree %>" value="<%= thing.pegThree %>" disabled>
		<input type="hidden" name="pegThree" value=""></button>
		</td>
		<td><button class="peg" type="button" style="background-color:<%= thing.pegFour %>" value="<%= thing.pegFour %>" disabled>
		<input type="hidden" name="pegFour" value=""></button>
		</td>
		<td>
		</td>
		<td>
		<table>
		<tr>
		<td><button type="button" class="j" style="background-color:<%= thing.rating[0] %>" disabled></td>
		<td><button type="button" class="j" style="background-color:<%= thing.rating[1] %>" disabled></td>
		</tr>
		<tr>
		<td><button type="button" class="j" style="background-color:<%= thing.rating[2] %>" disabled></td>
		<td><button type="button" class="j" style="background-color:<%= thing.rating[3] %>" disabled></td>
		</tr>
		</table>
		</td>
		</tr>
		<tr>
		<td colspan="6">
		<hr />
		</td>
		</tr>

		<% } else { %>
		<tr class="guessRow">
		<td><%= rowCounter %></td>
		<td><button class="peg" type="button" style="background-color:<%= thing.pegOne %>" value="<%= thing.pegOne %>" disabled>
			<input type="hidden" name="pegOne" value=""></button>
		</td>
		<td><button class="peg" type="button" style="background-color:<%= thing.pegTwo %>" value="<%= thing.pegTwo %>" disabled>
		<input type="hidden" name="pegTwo" value=""></button>
		</td>
		<td><button class="peg" type="button" style="background-color:<%= thing.pegThree %>" value="<%= thing.pegThree %>" disabled>
		<input type="hidden" name="pegThree" value=""></button>
		</td>
		<td><button class="peg" type="button" style="background-color:<%= thing.pegFour %>" value="<%= thing.pegFour %>" disabled>
		<input type="hidden" name="pegFour" value=""></button>
		</td>
		<td>
		</td>
		<td>
		<table>
		<tr>
		<td></td>
		<td></td>
		</tr>
		<tr>
		<td></td>
		<td></td>
		</tr>
		</table>
		</td>
		</tr>
		<tr>
		<td colspan="6">
		<hr />
		</td>
		</tr>
		<% } %>

		<% rowCounter = rowCounter + 1; %>
		<% }) %>
		
		</tbody>
		</table>
		</td>
		
		</tr>
		</tbody>
		</table>
		
		
		<% if (failure) { %>
		
		<style type="text/css">
	    #guessButton {
	    display: none !important;
	    </style>
		
		<div style="background-color: red !important; text-align:center;">
		FAILURE
		</div>
		<% } else if (victory) { %>
		
		<style type="text/css">
	    #guessButton {
	    display: none !important;
	    </style>
		
		<div style="background-color: green !important; text-align:center;">
		VICTORY
		</div>
		<% } %>
		
    </div>
</main>

<script>
window.addEventListener("load", function() { 
	var theGuessButton = document.getElementById('guessButton').parentNode;
	var tdTop = theGuessButton.offsetTop;
	var tr = theGuessButton.parentNode;
	var trTop = tr.offsetTop;
	var tbody = tr.parentNode;
	var tbodyTop = tbody.offsetTop;
	var table = tbody.parentNode;
	var tableTop = theGuessButton.parentNode.offsetTop;
	var totalOffset = tbodyTop + tableTop;
	document.documentElement.scrollTop = totalOffset;
} );
	  document.getElementById("board").addEventListener("click",
	function addPhase(submission) {
		let target = event.target;
		
		//not a peg that was clicked
		if (target.className != 'peg') {
			return;
		}
		
		submission.preventDefault();
		
		let targetColor = target.value;
		
		switch (targetColor) {
		case '#C8C8C8':
			target.value = '#dc3545';
			target.setAttribute("style", "background-color: #dc3545;");
			target.children[0].value = '#dc3545';
			break;
		
		case '#dc3545':
			target.value = '#fd7e14';
			target.setAttribute("style", "background-color: #fd7e14;");
			target.children[0].value = '#fd7e14';
			break;
		
		case '#fd7e14':
			target.value = '#ffc107';
			target.setAttribute("style", "background-color: #ffc107;");
			target.children[0].value = '#ffc107';			
			break;
		
		case '#ffc107':
			target.value = '#28a745';
			target.setAttribute("style", "background-color: #28a745;");
			target.children[0].value = '#28a745';
			break;
		
		case '#28a745':
			target.value = '#007bff';
			target.setAttribute("style", "background-color: #007bff;");
			target.children[0].value = '#007bff';
			break;
			
		case '#007bff':
			target.value = '#6f42c1';
			target.setAttribute("style", "background-color: #6f42c1;");
			target.children[0].value = '#6f42c1';
			break;
			
		case '#6f42c1':
			target.value = '#dc3545';
			target.setAttribute("style", "background-color: #dc3545;");
			target.children[0].value = '#dc3545';
			break;
			
		}
		
		
		const colors = {
    RED: '#dc3545',
    YELLOW: '#ffc107',
    ORANGE: '#fd7e14',
    GREEN: '#28a745',
    BLUE: '#007bff',
    VIOLET: '#6f42c1',
    NULL: '#C8C8C8'
}

		
		//location.reload(true);
	});
</script>

<footer>
    <%- include ('../partials/footer') %>
</footer>
</body>
<style type="text/css">
	  #board {
		border-collapse: separate;
		border-spacing: 20px 20px !important;
		border: 1px solid #000000 !important;
		}
		#instructions {
		border-collapse: separate;
		border-spacing: 20px 20px !important;
		display: inline !important;
		}
		.peg {
		width: 40px;
		height: 40px;
		border-radius: 20px;
		}
		.j {
		width: 10px;
		height: 10px;
		border-radius: 5px;
		}
		.guessButton {
		border-radius: 5px;
		background-color: #000080 !important;
		color: #FFFFFF !important;
		}
	  </style>

</html>